<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="SQLCE3.5" value=".\\AspectMining.sdf"/>
    <add key="DatasetDirectory" value="\\..\\..\\Dataset\\"/>
    <add key="OpenNLPModelsTokenizer" value="\\..\\..\\NLPModels\\OpenNLP\\en-token.bin"/>
    <add key="OpenNLPModelsPOSTagger" value="\\..\\..\\NLPModels\\OpenNLP\\en-pos-maxent.bin"/>
    <add key="OpenNLPModelsChunker" value="\\..\\..\\NLPModels\\OpenNLP\\en-chunker.bin"/>
    <add key="HunspellFiles" value="\\..\\..\\SpellCheck\\Hunspell\\"/>
    <add key="SentiWordNetSource" value="\\..\\..\\SentiWordNet\\SentiWordNet_3.0.0_20130122.txt"/>
  </appSettings>
  <connectionStrings>
    <add name="SQLServer" connectionString="Data Source=.;Initial Catalog=AspectMining;Persist Security Info=True;User ID=User;Password=Pass" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>